<mat-card>
    <h1>Your Profile Details</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg" 
                    alt=""
                    class="profile-image"
                    />
                   <h1>Komal Dattatrya Dantkale</h1> 
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!--table Details-->
                        <table class="table text-center">
                            <tr>
                              <td>Username</td>
                              <td>komal123</td>
                            </tr>
                            <tr>
                              <td>Userid</td>
                              <td>1</td>
                            </tr>
                            <tr>
                              <td>Phone</td>
                              <td>8177815599</td>
                            </tr>
                            <tr>
                              <td>Role</td>
                              <td>ADMIN</td>
                            </tr>
                            <tr>
                              <td>Status</td>
                              <td>ACTIVE</td>
                            </tr>
                          </table>


                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    
</mat-card>
